@if (haveDragon() === true) {
  <a [routerLink]="['/dragons-form', dragon().dragonId]">Edit</a>
  <table>
    <tbody>
      <tr>
        <td>Dragon</td>
        <td>{{ dragon().givenName }} {{ dragon().familyName || '' }}</td>
      </tr>
      <tr>
        <td>Fighting Skills</td>
        <td>{{ (dragon().fightingSkills || '').length === 0 ? '(not specified)' : dragon().fightingSkills }}</td>
      </tr>
      <tr>
        <td>Weight In Kg</td>
        <td>{{ dragon().weightInKg }}</td>
      </tr>
      <tr>
        <td>Length in Meters</td>
        <td>{{ dragon().lengthInMeters }}</td>
      </tr>
      <tr>
        <td>Skills</td>
        <td>{{ dragon().skillTags.map(st => st.skillName).join(', ') }}</td>
      </tr>      
    </tbody>
  </table>

  <h3>Current and Upcoming Jobs</h3>
  @if (dragon().assignments !== null && dragon().assignments.length > 0)
  {
    <p-table
      [value]="dragon().assignments"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="this.pageSize"
      [totalRecords]="dragon().assignments.length"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [(selection)]="selectedAssignment"
      [selectionMode]="'single'"
      >
      <ng-template #header>
        <tr>
          <th>Employer </th>
          <th>Job Title</th>
          <th>Assignment Start</th>
          <th>Assignment End</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-assignment>
        <tr [pSelectableRow]="assignment">
          <td>{{ assignment.job.employerName  }}</td>
          <td>{{ assignment.job.jobTitle }}</td>
          <td>{{ assignment.startDate | date:'fullDate':'+0' }}</td>
          <td>{{ assignment.endDate === null ? 'not specified' : assignment.endDate | date:'fullDate':'+0' }}</td>
          <td><a [routerLink]="['/dragons', assignment.dragonId, 'assignments', assignment.assignmentId, 'hours-worked']">Log Hours</a></td>
        </tr>
      </ng-template>
    </p-table>
  }
  @else {
    <p>No Upcoming or Current Jobs</p>
  }  
}