<p>We do counting so you don't have to</p>

<p>
    Increase amount:
    <input type="number" [(ngModel)]="step" placeholder="step amount">
</p>

<p>Current value {{count | number: '1.0-3' }}</p>

<p-button (click)="adjust()">Increment</p-button>

<p>
    @if (array1.length > 0) {
        Some numbers:
    }
    @for (elem1 of array1; track $index) {
        <li>
            <div [class.pudding]="$index === $count-2">
                <app-much-math [inputNumber]="elem1"></app-much-math>
            </div>
        </li>
    }
    @empty {
        [ None ]
    }
</p>