@if (haveDragon() === true) {
  <table>
    <tbody>
      <tr>
        <td>Dragon</td>
        <td>{{ dragon().givenName }} {{ dragon().familyName || '' }}</td>
      </tr>
      <tr>
        <td>Can Breath Fire</td>
        <td>{{ dragon().canBreathFire ? "yes" : "no" }}</td>
      </tr>
      <tr>
        <td>Can Take Passengers</td>
        <td>{{ dragon().canTakePassengers ? "yes" : "no" }}</td>
      </tr>
      <tr>
        <td>Fighting Skills</td>
        <td>{{ dragon().fightingSkills || '' === '' ? '(not specified)' : dragon().fightingSkills }}</td>
      </tr>
      <tr>
        <td>Weight In Kg</td>
        <td>{{ dragon().weightInKg }}</td>
      </tr>
      <tr>
        <td>Length in Meters</td>
        <td>{{ dragon().lengthInMeters }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Current and Upcoming Jobs</h3>
  <table>
    <tr>
      <th>Employer </th>
      <th>Job Title</th>
      <th>Assignment Start</th>
      <th>Assignment End</th>
    </tr>
    <tbody>
      @for (assignment of dragon().assignments; track assignment.assignmentId) {
        <tr>
          <td>{{ assignment.job.employerName }}</td>
          <td>{{ assignment.job.jobTitle }}</td>
          <td>{{ assignment.startDate | date:'fullDate':'+0' }}</td>
          <td>{{ assignment.endDate === null ? 'not specified' : assignment.endDate | date:'fullDate':'+0' }}</td>
        </tr>
      } @empty {
        <p> None Assigned </p>
      }
    </tbody>
  </table>
}